NEXT_PUBLIC_API_BASE_URL = https://stage-api.therapistinapocket.com


NEXT_PUBLIC_PAYPAL_CLIENT_ID=AXGURd1YKOiwOIxlflNV9591tdiSDZB5Gwzx-1Pu8spIGjEPxl12FcVLHeDAhT2xwqsUTOKkwUnWDlHR
PAYPAL_SECRET=EJ9q1PjhCKEDACPLjkxb_lrDq8SY66Pl9WIXnKNQuNBc_6EkoehaNxEKegUWizjSzTrKqD4ZfwVU_19g
