/* define color variables */

:root {
  --color-primary: #010a1a; // Deep Navy
  --color-secondary: #ed1c24; // Vibrant Red
  --color-text-muted: #abb8c3; // Muted Gray for footers
  --color-white: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-outfit), var(--font-poppins), sans-serif !important;
}